<div class="hero-unit text-center">
	<h1>The Kaplans</h1>
	<p class="lead">
		A place of our very own to share images of our lives so we can all get a glimpse.
	</p>
	<p>
		<%= link_to "Join!", new_user_registration_path, class:"btn btn-large btn-success" %>
	</p>

</div>