@import 'bootstrap';

body{
	padding-top: 60px;
	/*background-image: image-url("picture012.jpg");*/
}

@import 'bootstrap-responsive';

.smallpic>img{
    height:100px;
    width:56px;
}

.footer{

	margin-top: 50px;
	color: $grayLight;
	a{
		color: $gray;
	}
}
